{
  "env": {
    "browser": true
  },
  "globals": {
    "cv": true // OpenCV
  },
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "object-curly-newline": 0,
    "jsx-a11y/media-has-caption": 0
  },
  "plugins": [
    "jest"
  ],
  "parser": "@babel/eslint-parser"
}
